<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnnyi2Ek3XS8vJbP3jw6tBgmqycogLAbY</string>
	<key>GCM_SENDER_ID</key>
	<string>355818871015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KariGroszewska.Cascade</string>
	<key>PROJECT_ID</key>
	<string>cascade-ghw2025</string>
	<key>STORAGE_BUCKET</key>
	<string>cascade-ghw2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355818871015:ios:6e480992a481910f3faa42</string>
</dict>
</plist>